.contenedor {
    width: 30%;
    margin: auto;
    margin-top: 10px;
    border-radius: 5%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.826);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.31);
}

@media (max-width: 992px) {
    .contenedor {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .contenedor {
        width: 70%;
    }
}

@media (max-width: 576px) {
    .contenedor {
        width: 90%;
    }
}